#textStuff {
	border: 3px solid blue;
	width:20em;
	height: 10em;

}
#inputBox {
	background-color: lightblue;
	border: solid black 1px;
}

#savedStuff {
	border: 1px solid turquoise;
	margin-top: 10px;
	width: 20em;
	height: 10em;

}
#button {
	border: solid black 1px;
	background-color: violet; 
	border-radius: 25px;
}
p {
	color: black;
	margin-bottom: -8px;
}